
body {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

body.memory {
  background-image: url(./images/memory.png);
}
body.mongo {
  background-image: url(./images/mongo.png);
}
body.postgres {
  background-image: url(./images/postgres.png);
}
body.redis {
  background-image: url(./images/redis.png);
}

.logo {
  float: left;
  width: 200px;
  height: 200px;
}

h1 {
  margin-top: 100px;
  padding-top: 50px;
  font-size: 72px;
}

.counter {
  font-size: 288pt;
  border-radius: 25px;
  cursor: pointer;
}

.env {
  width: 400px;
  height: 100px;
}
