<body class='{{.type}}'>
  <div class="container">
    <img class='logo' src='images/counter.png'>
    <h1>{{.Type}} Counter</h1>
    <div class='counter'>
      {{.count}}
    </div>
  </div>
</body>

