<body class='{{.type}}'>
  <h4>Hostname:  {{.Hostname}}</h4>
  <div class="container">
    <img class='logo' src='{{.MountPoint}}/images/counter.png'>
    <h1>{{.Type}} Counter</h1>
    <div class='counter'>
      {{.count}}
    </div>
  </div>
  <textarea class='env'>{{.Env}}</textarea>
</body>

