<html>
  <head>
    <meta charset="utf-8">
    <title>{{.Type}} Counter</title>
    <meta name="description" content="Counter demo">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="main.css" />
  </head>
  {{ yield }}
</html>
